[build]
  command = "npm run build"
  publish = "dist/public"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "VITE_API_BASE_URL,VITE_API_AFTER_LOGIN_BASE_URL"
  SECRETS_SCAN_OMIT_PATHS = ".env"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
